.langar{
    font-family: 'Langar', cursive;
}

.VT323{
    font-family: 'VT323', monospace;
}

body {
    background-color:black;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}

footer{
    display: flex;
    justify-content: center;
}
footer img{
    width: 40%;
}

.main-header{
    width: 100%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*padding-top: 2%;*/
}

.tituloimg{
    margin-left: 150px;
}

.home{
    height: 50%;
    margin-right:370px;
    padding-left: 20px;
    margin-bottom:100px;
    /*margin-left: -10%;*/
}

.home:hover{
    color: cornflowerblue;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

a{
    font-size: 50px;
    text-decoration: none;
    color: chartreuse;
}

a:hover{
    color: cornflowerblue;
}

.char-name{
    color: chartreuse;
    font-size: 25px;
    text-align: center;
}

.char-img{
    width: 90%;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.char-div{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.char-div-div{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    padding: 2%;
    margin-top: 3%;
    transition: width 2s;
}

.char-div-div:hover{
    width: 300px;
}

.char-info{
    color: chartreuse;
    font-size: 35px;
    text-align: left;
}

.char-div-info{
    display: flex;
    flex-direction: row;
    width: 780px;
    height: 430px;
    margin-top: 2%;
    margin-left: 19%;
    padding: 2%;
    border: 3px solid cornflowerblue;
}

.char-img-info{
    width: 60%;
    /*height: 0%;*/
}

.char-div-txt{
    margin-left: 3%;
    margin-top: -5%;
}

/*CUADRICULA MAIN*/
.fila_main0, .fila_main1, .fila_main2{
    /*margin: 1%;*/
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.loc-name{
    color: chartreuse;
    font-size: 25px;
    text-align: center;
}

.div_h2_epis{
    margin-left: 5%;
    width: 30%;
    background-color: blueviolet;
}

.h1_epis{
    color: chartreuse;
    font-size: 40px;
    text-align: center;
    margin-top: -2%;
}

.div_formulario_epis{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35%;
    width: 30%;
}

.h3_formulario_epis{
    color: chartreuse;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-top: -2%;
}

.button_formulario_epis{
    background: chartreuse;
    font-family: 'Langar', cursive;
    border-radius: 8px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    border: none;
    width: 60%;
    height: 60%;
    margin: 10%;
}
.p_name_epis, .p_date_epis, .p_code_epis{
    color: chartreuse;
    font-size: 25px;
    text-align: center;
}

.img-roll{
    padding: 1%;
    width: 20%;
}

.div-img{
    display: flex;
    justify-content: center;
}




